@mixin putCenter()
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*===========================*/
/*【通用設定】*/

/*使padding與border不會增加總寬度*/
*,*:before,*:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*===========================*/

html, body
{
    font-family: 微軟正黑體;
    height: 100%;
    width: 100%;
    background-color: #222222;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;

    flex-direction: column;
}

/*===========================*/

.phone
{
    position: relative;
    left: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.5s;
}

/*===========================*/

.cameraArea
{
    position: relative;
    height: 40px;
}

.camera
{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #333;
    @include putCenter();
}

/*===========================*/

.screen
{
    width: 250px;
    height: 350px;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.pages
{
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    font-size: 0px;
    transition-duration: 0.5s;
}

.pages li
{   
    position: relative;
    display: inline-block;
    font-size: initial;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}

.titlePage
{
    position: relative;
    background-color: #FFAB36;
    padding: 10px;

    & .title_En
    {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    & .title_Zh-Tw
    {
        position: relative;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        margin-top: 5px;
    }

    & .orange
    {
        background-color: #FF9E17;
        border-radius: 100%;
        width: 300px;
        height: 300px;
    }
}


.titleBlock
{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #FFAB36;

    & .title
    {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }
}

.contentBlock
{   
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #333;
    
    & .text
    {
        color: #eee;
        white-space: normal;
        line-height: 18px;
        font-size: 12px;
    }
    
}

.footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    
    background-color: #FFAB36;
    width: 100%;
    height: 20px;
}



/*===========================*/

.buttonArea
{
    position: relative;
    height: 60px;
}

.homeButton
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: solid 1px rgba(black, 0.2);
    @include putCenter();
    cursor: pointer;

    &:hover
    {
        background-color: #ddd;
    }
}

.buttonIcon
{
    width: 15px;
    height: 15px;
    border: solid 1px rgba(black, 0.4);
    @include putCenter();
}

/*===========================*/

.phoneTitle
{
    color: white;
    margin-top: 20px;
    font-size: 15px;
}

.phoneName
{
    color: white;
    margin: 10px;
}


.menuButtons
{
    display: flex;
    flex-direction: row;
}

.menuButtons li
{
    margin-left: 4px;
}

.menuButtons li button
{
    background-color: transparent;
    border: solid 1px rgba(#fff, 0.2);
    border-radius: 5px;
    color: white;
    padding: 5px 14px;
    cursor: pointer;

    &:hover
    {
        background-color: #fff;
        color: #333;
    }
}



